modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "geos", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "stripe:2.0.0", "javascript_gemini_ai_integrations:1.0.0"]

[userenv]

[userenv.shared]
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyAkUNFuXSm5BekoHKGGp06g9AMkBSwbQvg"
PRIVATE_OBJECT_DIR = "/replit-objstore-c71ae623-418a-4376-b56d-3798fb4bbcc7/private"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-c71ae623-418a-4376-b56d-3798fb4bbcc7/public"

[objectStorage]
defaultBucketID = "replit-objstore-aa6f31ea-7f2a-4ba3-b20a-33b4e790e694"
